mat-icon {
  color:black;
}
.gray {
  background-color: #f5f5f5
}


.mat-icon:hover {
  cursor:pointer;
  color:chartreuse;
}


.mat-column-name{
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-family {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-nationalCode {
  flex: 0 0 50% !important;
  min-width: 140px !important;
}


.mat-column-subscribed{
  flex: 0 0 25% !important;
  min-width: 104px !important;
}
